@import "tailwindcss";


html {
  scroll-behavior: smooth;
}


body {

  background: #ffffff;

  color: #111827;

}


::selection {

  background:#0ea5e9;

  color:white;

}


section {

  position:relative;

  z-index:10;

}