@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #09090b;
  color: white;
}

::selection {
  background: #38bdf8;
  color: white;
}

.glass {
  background: rgba(24, 24, 27, 0.6);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.08);
}